<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mapper.FctmpPMapper" >
    <select id="getAllFctmpP" resultType="FctmpP" >
       select top 100
       u.StationID,
       u.Datatime,
       u.Depth,
       u.Wtmp,
       u.Xh,
       u.Rdatatime
       from 
       ST_FCTMP_P u
    </select>
</mapper>